[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiModalR"]
	path = MultiModalR
	url = https://github.com/dijog/multimodalr
